:root{
  --primary-color: rgb(19, 19, 160);
  --secondary-color: rgb(5, 202, 5);
  --third-color: rgb(220, 247, 252);
}

*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #ddd;
  column-gap: 10px;
  align-items: end;
}

header img{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 3px;
}

header span{
  font-size: 1.2rem;
  color: var(--primary-color);
}

h1{
  margin-left: 10px;
}

/* classes */

.hamburger{
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.hamburger::before{
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::before{
    content: "\00D7";
}

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation  a {
	display: block;
	padding: 1rem 10px;
  color: var(--primary-color);
	text-decoration: none;
  border-bottom: solid 1px var(--primary-color);
}

.navigation a:hover {
	background-color: var(--third-color);
}

.current a{
  background-color: #eee;
	color: var(--secondary-color);
}

/* ids */