@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    
    header{
        grid-template-columns: 24px auto;
    }
    
    .hamburger{
        display: none;
    }
    .navigation {
        display: block;
        text-align: center;
    }

    .navigation ul {
        display: flex;
    }

    li {
		flex: 100%;
	}

    .navigation a{
        border: none;
    }
}