:root{
  --primary-color: rgb(19, 19, 160);
  --secondary-color: rgb(5, 100, 5);
  --third-color: rgb(220, 247, 252);
  --fourth-color: rgb(200, 255, 200);
  --required-color: rgb(255, 0, 0);
  
  --gray-f0: rgb(240, 240, 240);
  --gray-e: rgb(238, 238, 238);
  --gray-c: rgb(204, 204, 204);
  --gray-d: rgb(158, 158, 158);
  --gray-a: rgb(170, 170, 170);
  
}

*{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* -------------------------------header------------------------------- */
/* elements */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px var(--gray-d);
  column-gap: 10px;
  align-items: end;
}

header img{
  display: block;
  width: 45px;
  height: auto;
  padding-bottom: 3px;
}

header span{
  display: block;
  margin-left: 20px;
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* classes */

.hamburger{
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.hamburger::before{
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::before{
  content: "\00D7";
}

/* -------------------------------navigation------------------------------- */
/* elements */

/* classes */

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation a {
	display: block;
	padding: 1rem 10px;
  color: var(--primary-color);
	text-decoration: none;
  border-bottom: solid 1px var(--primary-color);
  font-size: large;
  font-weight: 900;
  
}

.navigation a:hover {
	background-color: var(--third-color);
  cursor: pointer
}

.navigation .current a{
  background-color: var(--gray-f0);
}

/* -------------------------------main------------------------------- */
/* elements */

h1, section p{
  margin-left: 15px;
  margin-right: 15px;
}

section{
  background-color: var(--gray-f0);
}

/* classes */

.hero {
  position: relative;
  min-width: 360px;
}

.hero img{
  width: 100%;
  height: auto;
}

.action {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 1rem;
  position: absolute;
  bottom: 20px;
  right: 50px;
  background-color: var(--gray-f0);
  border: 1px solid var(--primary-color);
  text-decoration: none;
  color: var(--primary-color);
}

.action:hover{
  background-color: var(--gray-c);
  cursor: pointer;
}

.menu{
  display: flex;
  gap: 10px;
  margin: 15px;
}

.menu button{
  flex-grow: 1;
}

.grid, .grid_four{
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
  margin: 15px;
}

.grid	section {
  padding: 10px;
  width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.grid section img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid var(--gray-f0);
  box-shadow: 0 0 1rem var(--gray-d);
}

#business_highlight section img {
  display: inline;
  width: 75px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 45px;
  float: left;
}

.button{
  display: block;
  background-color: var(--gray-f0);
  border: 1px solid var(--primary-color);
  padding: 5px;
  text-decoration: none;
  border-radius: 1rem;
  margin: auto;
  text-align: center;
  color: var(--primary-color);
}

.button:hover{
  background-color: var(--gray-c);
  cursor: pointer;
}

.bottom_boarder{
  border-bottom: 1px solid ;
}

.grid h2 {
  text-align: center;
	font-size: 1.2rem;
}

.grid_four section {
  padding-top: 0px;
}

.grid_four h2 {
  background-color: var(--gray-c);
  margin-top: 0;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section img {
  display: none;
}

.list section h2 {
  font-size: 1rem;
}

.list section:nth-child(even) {
  background-color: var(--gray-c);
}

.current_weather > div{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.current_weather div figure{
  margin: 0;
}

/* -------------------------------footer------------------------------- */
/* elements */

footer{
  background-color: var(--gray-e);
  padding: 1rem 10px;
  text-align: center;
}

footer div{
  margin-top: 10px;
}

footer p{
  margin: 0 10px;
}

/* classes */

.bold {
  font-weight: 900;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;

}

.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: var(--gray-c) solid 1px;
  border-radius: 10px;
}

.social img{
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: var(--gray-d);
}

.yarndings {
  font-family: "Yarndings 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------Form------------------------------- */

form {
  color: var(--primary-color);
  margin: 10px;
}

form h2{
  text-align: center;
}

form input, form textarea{
  font-size: 16px;
  padding: 5px;
  border-left-width: 5px;
}

form input:required{
  border-left-color: var(--required-color);
}

form > div {
  display: grid;
  margin-top: 15px;
}

input[type='radio'] {
  margin-top: 10px;
  transform: scale(1.5);
}


form button {
  display: block;
  font-size: 16pt;
  padding: 10px;
  border-radius: .5rem;
  margin: auto;
}

/* -------------------------------modals------------------------------- */

#mydialog {
    padding: 0;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgb(119, 119, 119);
    width: 90%;
}

#mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: var(--gray-d);
    padding: 5px;
    border-bottom: var(--gray-a) 1px solid;
}

#mydialog h2 {
    margin: 0;
    color: var(--primary-color);
}

#mydialog button{
    margin: 0;
    border: 1px solid rgba(0, 0, 0,0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--gray-a);
}

#mydialog p {
    padding:10px;
    color: rgb(55, 81, 112);
}

::backdrop{
    background-color: rgba(255, 255, 255,.75);
}

/* -------------------------------membership------------------------------- */

#level {
  color: var(--primary-color);
  margin: 10px;
  text-align: center;
}

#level div {
  color: var(--primary-color);
  background-color: var(--gray-c);
  border: 1px solid var(--primary-color);
  margin-top: 10px;
  padding: 10px;
  border-radius: 0 1rem;
}