@media only screen and (min-width: 38rem) {

    .hamburger{
        display: none;
    }
    .navigation {
        display: block;
        text-align: center;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a{
        border: none;
    }
}