@media only screen and (min-width: 701px) {

    /* -------------------------------header------------------------------- */
    header{
        float: left;
        border: none;
    }

    .hamburger{
        display: none;
    }

    /* -------------------------------navigation------------------------------- */
    .navigation {
        display: flex;
        text-align: center;
        justify-content: right;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a{
        border: none;
    }

    /* -------------------------------main------------------------------- */
    main{
        float: none;
        border-top: solid 1px var(--gray-d);
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .grid section {
        min-width: 320px;
        width: auto;
        max-width: 400px;
    }

    .list section {
    grid-template-columns: 1fr 1fr 1fr;
    }

    /* -------------------------------footer------------------------------- */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer div{
        flex-grow: 1;
        text-align: left;
    }

}