*{box-sizing: border-box;}

#openButton {
    background-color: aqua;
}

#dialogBox {
    background-color: lavender;
}

#closeButton {
    background-color: violet;
}

::backdrop{
    background-color: rgba(255, 128, 0, 0.5);
}

#loader {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: #999 transparent #999 transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    box-shadow: 0 0 1rem rgb(0 0 225 / 40%);
}

#loader::after{
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: pulse 1.5s ease-in-out infinite;
}

#loader-t {
    margin: 2rem;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 2rem rgba(0, 0, 255, .4);
    border: 5px solid transparent;
    border-color: #999 transparent #999 transparent;
    border-radius: 50%;
    transition: transform 1.5s linear;
    
}

#loader-t::after{
    content: '⚙️';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 2rem;
    transition: transform 1.5s ease-in-out;
}

#loader-t:hover {
    transform: rotate(360deg);
}

#loader-t:hover::after {
    transform: translate(-50%, -50%) scale(1.1);
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

@keyframes pulse{
    0%, 100% {transform: translate(-50%, -50%) scale(1);}
    50% {transform: translate(-50%, -50%) scale(1.25);}
}

