:root{
  --primary-color: rgb(19, 19, 160);
  --secondary-color: rgb(5, 100, 5);
  --third-color: rgb(220, 247, 252);
  
  --gray-f0: rgb(240, 240, 240);
  --gray-e: rgb(238, 238, 238);
  --gray-c: rgb(204, 204, 204);
  --gray-d: rgb(158, 158, 158);
  
}

*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* -----header----- */
/* elements */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px var(--gray-d);
  column-gap: 10px;
  align-items: end;
}

header img{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 3px;
}

header span{
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* classes */

.hamburger{
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.hamburger::before{
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::before{
  content: "\00D7";
}

/* -----navigation----- */
/* elements */

/* classes */

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation  a {
	display: block;
	padding: 1rem 10px;
  color: var(--primary-color);
	text-decoration: none;
  border-bottom: solid 1px var(--primary-color);
}

.navigation a:hover {
	background-color: var(--third-color);
}

.current a{
  background-color: var(--gray-f0);
	color: var(--secondary-color);
}

/* -----main----- */
/* elements */

h1{
  margin-left: 10px;
}

/* classes */

/* -----footer----- */
/* elements */

footer{
  background-color: var(--gray-e);
  padding: 1rem 10px;
  text-align: center;
}

/* classes */

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;

}

.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: var(--gray-c) solid 1px;
  border-radius: 10px;
}

.social img{
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: var(--gray-d);
}