:root{
  --primary-color: rgb(19, 19, 160);
  --secondary-color: rgb(5, 100, 5);
  --third-color: rgb(220, 247, 252);
  --fourth-color: rgb(200, 255, 200);
  
  --gray-f0: rgb(240, 240, 240);
  --gray-e: rgb(238, 238, 238);
  --gray-c: rgb(204, 204, 204);
  --gray-d: rgb(158, 158, 158);
  
}

*{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* -----header----- */
/* elements */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px var(--gray-d);
  column-gap: 10px;
  align-items: end;
}

header img{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 3px;
}

header span{
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* classes */

.hamburger{
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.hamburger::before{
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::before{
  content: "\00D7";
}

/* -----navigation----- */
/* elements */

/* classes */

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation a {
	display: block;
	padding: 1rem 10px;
  color: var(--primary-color);
	text-decoration: none;
  border-bottom: solid 1px var(--primary-color);
  font-size: large;
  font-weight: 900;
}

.navigation a:hover {
	background-color: var(--third-color);
}

.navigation .current a{
  background-color: var(--gray-f0);
}

/* -----main----- */
/* elements */

h1, section p{
  margin-left: 10px;
  margin-right: 10px;
}

section{
  background-color: var(--gray-f0);
}

h2{
  color: var(--primary-color);
  text-align: center;
  background-color: var(--gray-c);
  padding-top: 20px;
  padding-bottom:20px
}

main img{
  display: block;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

/* classes */

.about {
  padding-bottom: 8px;
}

.sort, .result{
  display: grid;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sort{
  grid-template-columns: 1fr 1fr 1fr;
}

.result{
  grid-template-columns: 1fr;
}

.sort button{
  height: 44px;
  flex-grow: 1;
  border-radius: .5rem;
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-size: larger;
  font-weight: 1000;
}

.sort button:hover{
  background-color: var(--gray-c);
  cursor: pointer;
}

.result button {
  height: 44px;
  flex-grow: 1;
  border-radius: .5rem;
  color: var(--gray-f0);
  background-color: var(--secondary-color);
  font-size: larger;
  font-weight: 1000;
}

.result .done {
  color: var(--primary-color);
  background-color: var(--fourth-color);
}

.certificate p{

  text-align: center;  
}

/* -----footer----- */
/* elements */

footer{
  background-color: var(--gray-e);
  padding: 1rem 10px;
  text-align: center;
}

/* classes */

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;

}

.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: var(--gray-c) solid 1px;
  border-radius: 10px;
}

.social img{
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: var(--gray-d);
}

.yarndings {
  font-family: "Yarndings 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}