@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    
    header{
        grid-template-columns: 24px auto;
    }

    main{
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto auto;
    }

    h1{
        grid-column: 1/4;
    }

    h2{
        margin-top: 0;
    }

    main img{
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }
        
    li {
		flex: 100%;
	}

    .about{
        grid-column: 1/3;
    }

    .certificate{
        grid-column: 1/4;
    }
    
    .hamburger{
        display: none;
    }
    .navigation {
        display: block;
        text-align: center;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a{
        border: none;
    }

    .result{
        grid-template-columns: 1fr 1fr 1fr;
    }


}