:root{
  --primary-color: rgb(19, 19, 160);
  --secondary-color: rgb(5, 100, 5);
  --third-color: rgb(220, 247, 252);
  --fourth-color: rgb(200, 255, 200);
  
  --gray-f0: rgb(240, 240, 240);
  --gray-e: rgb(238, 238, 238);
  --gray-c: rgb(204, 204, 204);
  --gray-d: rgb(158, 158, 158);

  --black: rgb(0,0,0);
  --white: rgb(255,255,255);
}

*{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: var(--primary-color);
}

/* -----header----- */
/* elements */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px var(--gray-d);
  column-gap: 10px;
  align-items: end;
}

header img{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 3px;
}

header span{
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* classes */

.hamburger{
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.hamburger::before{
  content: "\2630";
  font-size: 1.5rem;
}

.hamburger.show::before{
  content: "\00D7";
}

/* -----navigation----- */
/* elements */

/* classes */

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation a {
	display: block;
	padding: 1rem 10px;
  color: var(--primary-color);
	text-decoration: none;
  border-bottom: solid 1px var(--primary-color);
  font-size: large;
  font-weight: 900;
}

.navigation a:hover {
	background-color: var(--third-color);
}

.navigation .current a{
  background-color: var(--gray-f0);
}

/* -----main----- */
/* elements */
h1 {
  margin: 0 10px;
}

ul{
  list-style-type: none;
}
img{
  display: block;
  max-width: 600px;
  height: auto;
  margin: auto;
}

/* classes */
.painting_card{
  position: relative;
  width: auto;
  padding: 0 10px 10px;

  background-color: var(--gray-f0);
}

.painting_name{
  text-align: center;
}

.painting_dimensions{
  text-align: center;
}

.learn_more{
  display: block;
  margin: 10px auto ;
}


/* ids */
#cards {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  margin-bottom: 10px;
}

#primary {
  color: var(--primary-color);
}

#secondary {
  color: var(--secondary-color);
}

#third {
  color: var(--third-color);
  background-color: var(--black);
}

#fourth {
  color: var(--fourth-color);
  background-color: var(--black);
}

#gray-f0 {
  color: var(--gray-f0);
  background-color: var(--black);
}

#gray-e {
  color: var(--gray-e);
  background-color: var(--black);
}

#gray-c {
  color: var(--gray-c);
  background-color: var(--black);
}

#gray-d {
  color: var(--gray-d);
  background-color: var(--black);
}
/* -----footer----- */
/* elements */

footer{
  background-color: var(--gray-e);
  padding: 1rem 10px;
  text-align: center;
}

/* classes */

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;

}

.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: var(--gray-c) solid 1px;
  border-radius: 10px;
}

.social img{
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: var(--gray-d);
}

.yarndings {
  font-family: "Yarndings 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}