@media only screen and (min-width: 700px) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    /* ---------------header--------------- */
    /* elements */
    
    header{
        grid-template-columns: 24px auto;
    }

    /* --------------navigation-------------- */
    /* elements */
    
    li {
		flex: 100%;
	}

    /* classes */
    
    .hamburger{
        display: none;
    }
    .navigation {
        display: block;
        text-align: center;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a{
        border: none;
    }

    /*-------- main ---------*/
    /* ids */
    #cards {
        grid-template-columns: auto auto;
    }


}

@media only screen and (min-width: 1100px) {
    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    #cards {
        grid-template-columns: auto auto auto;
    }
}